body {
    margin:0;
    width: 1500px;
}

a{
    text-decoration: none;
}

/*상단 헤더*/
.main {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
}

.navbar {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(244, 201, 107);
    padding: 0px 15px;

}



.logo a {
    font-size:35px;
    color:rgb(233, 129, 56);
}



.main_list, .navbar_list {
    list-style:none;
    display:flex;
}

.main_list li {
    padding:2px 5px;
    font-size: 18px;
}

.navbar_list li {
    padding:5px 50px;
    font-size: 18px;
}

.main_list li a {
    color:rgb(78, 78, 78);
}

.navbar_list li a {
    color:rgb(233, 129, 56);
}

.main_list li a:hover{
    border-bottom:1px solid rgb(78, 78, 78);
}

.navbar_list li a:hover {
    color:#FBEFCB;
}

/*게시글*/

#index_contents {
    margin-left: 100px;
    margin-right: 100px;
}

.section2 {
    width:100%;
}

.boards img {
    width:25px;
}

.boards {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid rgb(189, 189, 189);
    border-top: 10px solid rgb(244, 201, 107);
    margin-bottom: 10px;
}

.boards > h2 {
    padding: 10px 10px 0 10px;
    height: auto;
}
h2 {
    padding: 10px 10px 0 10px;
    height: auto;
}

.boards > h2 > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: rgb(112, 112, 112);
    margin-left: 4px;
}
h2 > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: rgb(112, 112, 112);
    margin-left: 4px;
}

.boards > h2 > a {
    text-align: center;
    font-size:15px;
    color: #888;
    margin-left: 290px;
}

#plus2 {
    margin-left:265px;
}

.boards > ol {
    width: 100%;
    height: 200px;
    padding: 0 14px 10px 14px;
    list-style: none;
    margin: 0;
}

.boards > ol > li {
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
    padding-left: 30px;
    line-height: 35px;
    position: relative;
}

.boards > ol > li > a {
    display: inline;
    font-size: 18px;
    color: #888;
    margin: 0;
    text-decoration: none;
    position: relative;
}

/*인기활동*/
#special {
    float:left;
    width:40%;
}

.activities {
    float:right;
    width:59%;
    padding-left: 10px;
}
.activities h2 img {
    width:25px;
}

#wrap {
    display:block;
    width: 100%;
    height: 615px;
    position: relative;
    border: 1px solid rgb(189, 189, 189);
    border-top: 10px solid rgb(244, 201, 107);
    margin-bottom: 10px;

}

.activity_list {
    margin: 14px 0;

}

#wrap ul {
    list-style: none;
    padding:10px;
    display: block;
    }

#wrap ul li {
        margin-bottom: 10px;
        padding: 0;
        width: 100%;
    }
    .activity_list>li {
        border-bottom: 1px solid #eee;
    }
#wrap ul li .thumb-image {
        width: 30%;
        height: 92px;
        margin-right: 0;
        float: left;
    }


.thumb-image img:hover {
        color: #aaa;
        border-color: #aaa;
    }
.activity_list .thumb-image {
        overflow: hidden;
    }
#wrap ul li .thumb-txt {
        height: 80px;
        overflow: hidden;
        float: right;
        width: 65%;
    }
#wrap ul li .thumb-txt .special_count {
        float: right;
        background: rgb(244, 201, 107);
        padding: 2px 6px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
.thumb-txt p {
    overflow:hidden;
    margin: 0;
}


/*광고*/

aside img, .ad {
    width: 380px;
    height:150px;
    padding-top: 30px;
    padding-bottom: 10px;
}
#ads {
    text-align: center;
    float:left;
    width:100%;
}


/*하단 푸터*/
footer {
    position: relative;
    background: #868686;
    text-align: center;
    height: 80px;
    margin: 0 auto;
    clear:both;
}

footer img {
    vertical-align: middle;
    width: 20px;
}

.footer_list {
    padding-top: 25px;
    font-size: 12px;
    color: whitesmoke;
}

.footer_list li {
    list-style:none;
    display:inline-block;
    padding:0 8px;
    border-right:1px solid black;
}

.footer_list li:last-child {
    border-right:0;
}

/*추가*/
#showinform{
    margin-top: 60px;
}

ul.mi-current{
    background: rgb(178, 223, 223);
}